body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    /* background-color: cyan; */
    background: linear-gradient(to bottom right, #1f094f, #f1cb89);
}

.container {
    background-color: black;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
    width: 300px;
    color: white;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input, select, button {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #be0b0b;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    font-weight: bold;
}

button:hover {
    background-color: #ff0000;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}
